# data files
# ----------
*.fits
*.fits.gz
*.blk
*.png
*.html
*.log
*.tmp

# backup files
# ------------
*\#*
*~

# caches
# ------
*__pycache__*
.cache
.pytest_cache
tests/output

# distro and misc
# ---------------
./data*
dist/*
*egg-info*
tmp/*
